/* input  */
.miInput {
    margin-bottom: 30px !important; 
}

.miInput .sapMInputBaseInner {
    height: 3rem !important;       
    font-size: 1.2rem !important; 
    padding: 0 1rem !important;
    text-align: center !important;
    
    border: 2px solid #E1BEE7 !important; 
    border-radius: 4px !important; 
    color: black !important;
}

/* Boton  */
.miBoton .sapMBtnInner {
    background-color: #B587FF !important; 
    border-color: #B587FF !important;
    color: white !important;
    
    border-radius: 4px !important; 
    
    font-weight: normal !important; 
    box-shadow: none !important;   
}

/* 5. Texto resultado */
.miTextoResultado {
    font-size: 1.5rem !important;
    color: black!important; 
    margin-top: 20px !important;
}